In [2]:
!pip install google-api-python-client
!pip install --upgrade oauth2client
!pip install mysql-connector-python
!pip install pymongo

Requirement already satisfied: google-api-python-client in c:\users\hp\anaconda3\lib\site-packages (2.95.0)
Requirement already satisfied: httplib2<1.dev0,>=0.15.0 in c:\users\hp\anaconda3\lib\site-packages (from google-api-python-client) (0.22.0)
Requirement already satisfied: google-auth<3.0.0.dev0,>=1.19.0 in c:\users\hp\anaconda3\lib\site-packages (from google-api-python-client) (2.22.0)
Requirement already satisfied: google-auth-httplib2>=0.1.0 in c:\users\hp\anaconda3\lib\site-packages (from google-api-python-client) (0.1.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5 in c:\users\hp\anaconda3\lib\site-packages (from google-api-python-client) (2.11.1)
Requirement already satisfied: uritemplate<5,>=3.0.1 in c:\users\hp\anaconda3\lib\site-packages (from google-api-python-client) (4.1.1)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in c:\users\hp\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client) (1.59.1)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in c:\users\hp\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client) (4.21.12)
Requirement already satisfied: requests<3.0.0.dev0,>=2.18.0 in c:\users\hp\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client) (2.29.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from google-auth<3.0.0.dev0,>=1.19.0->google-api-python-client) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\hp\anaconda3\lib\site-packages (from google-auth<3.0.0.dev0,>=1.19.0->google-api-python-client) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\hp\anaconda3\lib\site-packages (from google-auth<3.0.0.dev0,>=1.19.0->google-api-python-client) (4.9)
Requirement already satisfied: six>=1.9.0 in c:\users\hp\anaconda3\lib\site-packages (from google-auth<3.0.0.dev0,>=1.19.0->google-api-python-client) (1.16.0)
Requirement already satisfied: urllib3<2.0 in c:\users\hp\anaconda3\lib\site-packages (from google-auth<3.0.0.dev0,>=1.19.0->google-api-python-client) (1.26.16)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in c:\users\hp\anaconda3\lib\site-packages (from httplib2<1.dev0,>=0.15.0->google-api-python-client) (3.0.9)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\hp\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0.dev0,>=1.19.0->google-api-python-client) (0.4.8)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\anaconda3\lib\site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0.dev0,>=1.31.5->google-api-python-client) (2023.5.7)
Requirement already satisfied: oauth2client in c:\users\hp\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: httplib2>=0.9.1 in c:\users\hp\anaconda3\lib\site-packages (from oauth2client) (0.22.0)
Requirement already satisfied: pyasn1>=0.1.7 in c:\users\hp\anaconda3\lib\site-packages (from oauth2client) (0.4.8)
Requirement already satisfied: pyasn1-modules>=0.0.5 in c:\users\hp\anaconda3\lib\site-packages (from oauth2client) (0.2.8)
Requirement already satisfied: rsa>=3.1.4 in c:\users\hp\anaconda3\lib\site-packages (from oauth2client) (4.9)
Requirement already satisfied: six>=1.6.1 in c:\users\hp\anaconda3\lib\site-packages (from oauth2client) (1.16.0)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in c:\users\hp\anaconda3\lib\site-packages (from httplib2>=0.9.1->oauth2client) (3.0.9)
Requirement already satisfied: mysql-connector-python in c:\users\hp\anaconda3\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\hp\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)
Requirement already satisfied: pymongo in c:\users\hp\anaconda3\lib\site-packages (4.4.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\hp\anaconda3\lib\site-packages (from pymongo) (2.4.1)

In [3]:
import pandas as pd
import pymongo
import json
from pymongo import MongoClient
from googleapiclient.discovery import build
from googleapiclient.errors import HttpError
from oauth2client.tools import argparser
import mysql.connector

In [4]:
# Set up API credentials
DEVELOPER_KEY = "AIzaSyA9hJGIN3NlpDWwO-5KtBcJKsF1WKo1Jr8"
YOUTUBE_API_SERVICE_NAME = 'youtube'
YOUTUBE_API_VERSION = 'v3'

# BUILDING CONNECTION WITH YOUTUBE API
youtube = build(YOUTUBE_API_SERVICE_NAME, YOUTUBE_API_VERSION, developerKey=DEVELOPER_KEY)

# Set up MongoDB Atlas connection
CONNECTION_STRING = 'mongodb+srv://thirukarthikanadar21:oWwrPOs8XioZaSQd@cluster0.g3gasa2.mongodb.net/?retryWrites=true&w=majority'
DATABASE_NAME = 'youtube_db'

# Set up MongoDB Atlas connection
MYSQL_HOST = 'localhost'
MYSQL_USER = 'root'
MYSQL_PASSWORD = 'root'
MYSQL_DATABASE = 'youtube_db'

In [5]:
# FUNCTION TO GET Channel info
def get_channel_info(channel_id):
    try:
        channel_info=[]
        channels_response = youtube.channels().list(
            part='snippet,statistics,contentDetails',
            id=channel_id
        ).execute()
        for i in range(len(channels_response['items'])):
            data = dict(Channel_id = channel_id,
                        Channel_name = channels_response['items'][i]['snippet']['title'],
                        Playlist_id = channels_response['items'][i]['contentDetails']['relatedPlaylists']['uploads'],
                        Subscription_count = channels_response['items'][i]['statistics']['subscriberCount'],
                        Channel_Views = channels_response['items'][i]['statistics']['viewCount'],
                        Total_videos = channels_response['items'][i]['statistics']['videoCount'],
                        Channel_Description = channels_response['items'][i]['snippet']['description'],
                    )
            channel_info.append(data)
            
        return channel_info
    
    except HttpError as e:
        print(f'An HTTP error {e.resp.status} occurred: {e.content}')
        return None

In [6]:
# FUNCTION TO GET VIDEO IDS
def get_channel_videos(channel_id):
    video_ids = []
    # get Uploads playlist id
    res = youtube.channels().list(id=channel_id,
                                  part='contentDetails').execute()
    playlist_id = res['items'][0]['contentDetails']['relatedPlaylists']['uploads']
    next_page_token = None

    while True:
        res = youtube.playlistItems().list(playlistId=playlist_id,
                                           part='snippet',
                                           maxResults=50,
                                           pageToken=next_page_token).execute()

        for i in range(len(res['items'])):
            video_ids.append(res['items'][i]['snippet']['resourceId']['videoId'])
        next_page_token = res.get('nextPageToken')

        if next_page_token is None:
            break
    return video_ids

In [7]:
# FUNCTION TO GET VIDEO DETAILS
def get_video_details(v_ids):
    video_stats = []

    for i in range(0, len(v_ids), 50):
        response = youtube.videos().list(
                    part="snippet,contentDetails,statistics",
                    id=','.join(v_ids[i:i+50])).execute()
        for video in response['items']:
            video_details = dict(Channel_name = video['snippet']['channelTitle'],
                                Channel_id = video['snippet']['channelId'],
                                Video_id = video['id'],
                                Title = video['snippet']['title'],
                                Tags = video['snippet'].get('tags'),
                                Thumbnail = video['snippet']['thumbnails']['default']['url'],
                                Description = video['snippet']['description'],
                                Published_date = video['snippet']['publishedAt'],
                                Duration = video['contentDetails']['duration'],
                                Views = video['statistics']['viewCount'],
                                Likes = video['statistics'].get('likeCount'),
                                Dislikes = video['statistics'].get('dislikeCount'),
                                Comments = video['statistics'].get('commentCount'),
                                Favorite_count = video['statistics']['favoriteCount'],
                                Definition = video['contentDetails']['definition'],
                                Caption_status = video['contentDetails']['caption']
                               )
            video_stats.append(video_details)
    return video_stats

In [8]:
# FUNCTION TO GET COMMENT DETAILS
def get_comments_details(v_id):
    comment_data = []
    try:
        next_page_token = None
        while True:
            response = youtube.commentThreads().list(part="snippet,replies",
                                                    videoId=v_id,
                                                    maxResults=100,
                                                    pageToken=next_page_token).execute()
            for cmt in response['items']:
                data = dict(Comment_id = cmt['id'],
                            Video_id = cmt['snippet']['videoId'],
                            Comment_text = cmt['snippet']['topLevelComment']['snippet']['textDisplay'],
                            Comment_author = cmt['snippet']['topLevelComment']['snippet']['authorDisplayName'],
                            Comment_posted_date = cmt['snippet']['topLevelComment']['snippet']['publishedAt'],
                            Like_count = cmt['snippet']['topLevelComment']['snippet']['likeCount'],
                            Reply_count = cmt['snippet']['totalReplyCount']
                           )
                comment_data.append(data)
            next_page_token = response.get('nextPageToken')
            if next_page_token is None:
                break
    except:
        pass
    return comment_data

In [9]:
def show_data(channel_id):
    channel_data=get_channel_info(channel_id)
    video_ids = get_channel_videos(channel_id)
    video_details = get_video_details(video_ids)
    def comments():
        comment_data = []
        for i in video_ids:
            comment_data+= get_comments_details(i)
        return comment_data
    comment_details = comments()
    
    print(channel_data)
    #print(video_details)
    #print(comment_details)

In [10]:
def create_collections(db):
    # Drop collections if they already exist
    db['channel'].drop()
    db['video'].drop()
    db['comment'].drop()

    # Create collections
    db.create_collection('channel')
    db.create_collection('video')
    db.create_collection('comment')

In [11]:
# FUNCTION TO GET CHANNEL NAMES FROM MONGODB
def channel_names():   
    channel_name = []
    for i in db.channel.find():
        channel_name.append(i['Channel_name'])
    return channel_name

In [12]:
def store_data_in_mongodb(channel_id):
    try:
        # Connect to MongoDB Atlas
        client = MongoClient(CONNECTION_STRING)
        db = client.get_database(DATABASE_NAME)

        
        channel_data=get_channel_info(channel_id)
        video_ids = get_channel_videos(channel_id)
        video_details = get_video_details(video_ids)
        def comments():
            comment_data = []
            for i in video_ids:
                comment_data+= get_comments_details(i)
            return comment_data
        comment_details = comments()
        
        if channel_data:
            channel_collections = db['channel']
            channel_collections.insert_many(channel_data)
        
        if video_details:
            video_collections = db['video']
            video_collections.insert_many(video_details)
        
        if comment_details:
            comment_collections = db['comment']
            comment_collections.insert_many(comment_details)

        print('Data stored in MongoDB Atlas successfully!')

    except Exception as e:
        print('An error occurred while storing data:', str(e))

In [13]:
def create_mysql_tables():
    try:
        # Connect to MySQL
        mysql_conn = mysql.connector.connect(
            host=MYSQL_HOST,
            user=MYSQL_USER,
            password=MYSQL_PASSWORD,
            database=MYSQL_DATABASE
        )
        
        # Drop the Channel table if it already exists
        mysql_cursor = mysql_conn.cursor()
        
        
        mysql_cursor.execute('DROP TABLE IF EXISTS Comment')
        mysql_cursor.execute('DROP TABLE IF EXISTS Video')
        mysql_cursor.execute('DROP TABLE IF EXISTS Channel')

        # Create Channel table
        mysql_cursor = mysql_conn.cursor()
        mysql_cursor.execute('''
            CREATE TABLE IF NOT EXISTS Channel (
                Channel_Id VARCHAR(255) PRIMARY KEY,
                Channel_Name VARCHAR(255),
                Subscription_Count INT,
                Channel_Views INT,
                Channel_Description TEXT,
                Playlist_Id VARCHAR(255)
            )
        ''')
                
        mysql_conn.commit()
        print('MySQL Channeltable created successfully!')
        
        # Create Channel table
        mysql_cursor.execute('''
            CREATE TABLE IF NOT EXISTS Video (
                Video_Id VARCHAR(255) PRIMARY KEY,
                Channel_Name VARCHAR(255),
                Channel_Id VARCHAR(255),
                Title VARCHAR(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
                Tags TEXT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
                Thumbnail VARCHAR(255),
                Description TEXT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
                Published_Date VARCHAR(50),
                Duration VARCHAR(50),
                Views INT,
                Likes INT,
                Dislikes INT,
                Comments INT,
                Favorite_Count INT,
                Definition VARCHAR(50),
                Caption_Status VARCHAR(50)
            )
        ''')

        mysql_conn.commit()

        print('MySQL Video table created successfully!')
        
        # Create Comment table
        mysql_cursor.execute('''
            CREATE TABLE IF NOT EXISTS Comment (
                Comment_Id VARCHAR(255) PRIMARY KEY,
                Video_Id VARCHAR(255),
                Comment_Text TEXT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
                Comment_Author VARCHAR(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
                Comment_Posted_Date VARCHAR(50),
                Like_Count INT,
                Reply_Count INT
            )
        ''')

        mysql_conn.commit()
        
        print('MySQL Comment table created successfully!')

    except Exception as e:
        print('An error occurred while creating MySQL table:', str(e))

In [14]:
def migrate_data_to_mysql(channel_name):
    try:
        # Connect to MongoDB Atlas
        client = MongoClient(CONNECTION_STRING)
        db = client.get_database(DATABASE_NAME)

        # Fetch channel data from MongoDB
        channel_data = db.channel.find({'Channel_name': channel_name})
        
        if channel_data:
            # Connect to MySQL
            with mysql.connector.connect(
                host=MYSQL_HOST,
                user=MYSQL_USER,
                password=MYSQL_PASSWORD,
                database=MYSQL_DATABASE
            ) as mysql_conn:
                mysql_cursor = mysql_conn.cursor()

                # Iterate over the channel data and insert each record into MySQL
                for data in channel_data:
                    channel_id = data['Channel_id']
                    channel_name = data['Channel_name']
                    subscription_count = int(data['Subscription_count'])
                    channel_views = int(data['Channel_Views'])
                    channel_description = data['Channel_Description']
                    playlist_id = data.get('Playlist_id', None)  # Handle missing 'Playlist_id'
                    
                    # Insert new record into the MySQL table
                    insert_query = '''
                        INSERT INTO Channel (
                            Channel_Id,
                            Channel_Name,
                            Subscription_Count,
                            Channel_Views,
                            Channel_Description,
                            Playlist_Id
                        ) VALUES (%s, %s, %s, %s, %s, %s )
                    '''
                    mysql_cursor.execute(insert_query, (
                        channel_id,
                        channel_name,
                        subscription_count,
                        channel_views,
                        channel_description,
                        playlist_id
                    ))
                    mysql_conn.commit()
                    
                    print(f'Channel Data migrated to MySQL for Channel Name: {channel_name}')
        else:
            print(f'No data found in MongoDB for Channel Name: {channel_name}')

    except Exception as e:
        print('An error occurred while migrating data to MySQL:', str(e))
        
    
    try:
        # Connect to MongoDB Atlas
        client = MongoClient(CONNECTION_STRING)
        db = client.get_database(DATABASE_NAME)

        # Fetch video data from MongoDB
        video_data = db.video.find({'Channel_name': channel_name})
        
        if video_data:
            # Connect to MySQL
            with mysql.connector.connect(
                host=MYSQL_HOST,
                user=MYSQL_USER,
                password=MYSQL_PASSWORD,
                database=MYSQL_DATABASE
            ) as mysql_conn:
                mysql_cursor = mysql_conn.cursor()

                # Iterate over the video data and insert each record into MySQL
                for data in video_data:
                    video_id = data['Video_id']
                    channel_name = data['Channel_name']
                    channel_id = data['Channel_id']
                    title = data['Title']
                    tags_json = json.dumps(data.get('Tags', None))
                    thumbnail = data['Thumbnail']
                    description = data['Description']
                    published_date = data['Published_date']
                    duration = data['Duration']
                    views = int(data['Views'])
                    likes = data.get('Likes', 0)
                    dislikes = data.get('Dislikes', 0)
                    comments = data.get('Comments', 0)
                    favorite_count = data.get('Favorite_count', 0)
                    definition = data['Definition']
                    caption_status = data['Caption_status']

                    # Insert new video record into the MySQL table
                    insert_query = '''
                        INSERT INTO Video (
                            Video_Id,
                            Channel_Name,
                            Channel_Id,
                            Title,
                            Tags,
                            Thumbnail,
                            Description,
                            Published_Date,
                            Duration,
                            Views,
                            Likes,
                            Dislikes,
                            Comments,
                            Favorite_Count,
                            Definition,
                            Caption_Status
                        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                    '''
                    mysql_cursor.execute(insert_query, (
                        video_id,
                        channel_name,
                        channel_id,
                        title,
                        tags_json,
                        thumbnail,
                        description,
                        published_date,
                        duration,
                        views,
                        likes,
                        dislikes,
                        comments,
                        favorite_count,
                        definition,
                        caption_status
                    ))
                    mysql_conn.commit()
                    
                    print(f'Video Data migrated to MySQL for Channel Name: {channel_name}')
        else:
            print(f'No data found in MongoDB for Channel Name: {channel_name}')

    except Exception as e:
        print('An error occurred while migrating video data to MySQL:', str(e))
        
    try:
        # Connect to MongoDB Atlas
        client = MongoClient(CONNECTION_STRING)
        db = client.get_database(DATABASE_NAME)
        
        # Connect to MySQL
        mysql_conn = mysql.connector.connect(
            host=MYSQL_HOST,
            user=MYSQL_USER,
            password=MYSQL_PASSWORD,
            database=MYSQL_DATABASE
        )
        mysql_cursor = mysql_conn.cursor()
        
        collections1 = db.video
        collections2 = db.comment
        
        for vid in collections1.find({"Channel_name" : channel_name},{'_id' : 0}):
                for i in collections2.find({'Video_id': vid['Video_id']},{'_id' : 0}):
                    comment_id = i['Comment_id']
                    comment_text = i['Comment_text']
                    comment_author = i['Comment_author']
                    comment_posted_date = i['Comment_posted_date']
                    like_count = i['Like_count']
                    reply_count = i['Reply_count']
                    
                                        
                     # Insert new comment record into the MySQL table
                    insert_query = '''
                        INSERT INTO Comment (
                            Comment_Id,
                            Video_Id,
                            Comment_Text,
                            Comment_Author,
                            Comment_Posted_Date,
                            Like_Count,
                            Reply_Count
                        ) VALUES (%s, %s, %s, %s, %s, %s, %s)
                    '''
                    insert_data = (
                        comment_id,
                        video_id,
                        comment_text,
                        comment_author,
                        comment_posted_date,
                        like_count,
                        reply_count
                    )
                    mysql_cursor.execute(insert_query, (
                        comment_id,
                        video_id,
                        comment_text,
                        comment_author,
                        comment_posted_date,
                        like_count,
                        reply_count
                        
                    ))
                    mysql_conn.commit()

        print(f'Comment Data migrated to MySQL for Channel Name: {channel_name}')

    except Exception as e:
        print('An error occurred while migrating comment data to MySQL:', str(e))

In [15]:
def query_to_execute(user_choice,menu_options):
    if user_choice == 1:
        print(menu_options[user_choice])
        sql_query = """
                    SELECT title AS Video_Title, channel_name AS Channel_Name 
                    FROM video ORDER BY channel_name;
                    """
        mysql_cursor.execute(sql_query)
        display(pd.DataFrame(mysql_cursor.fetchall(),columns=mysql_cursor.column_names))          
            
    elif user_choice == 2:
        print(menu_options[user_choice])
        sql_query = """ 
                    SELECT channel_name AS Channel_Name, COUNT(*) AS Video_Count
                    FROM video
                    GROUP BY channel_name
                    ORDER BY Video_Count DESC;
                    """
        mysql_cursor.execute(sql_query)
        display(pd.DataFrame(mysql_cursor.fetchall(), columns=['Channel_Name', 'Video_Count']))        
            
    elif user_choice == 3:
        print(menu_options[user_choice])
        sql_query = """
                    SELECT v.title AS Video_Title, v.views AS Views, v.channel_name AS Channel_Name
                    FROM video v
                    ORDER BY v.views DESC
                    LIMIT 10;
                    """
        mysql_cursor.execute(sql_query)
        display(pd.DataFrame(mysql_cursor.fetchall(), columns=['Video_Title', 'Views', 'Channel_Name']))
                 
    elif user_choice == 4:
        print(menu_options[user_choice])
        sql_query = """
                    SELECT v.title AS Video_Title, COUNT(c.comment_id) AS Comment_Count
                    FROM video v
                    LEFT JOIN comment c ON v.video_id = c.video_id
                    GROUP BY v.title
                    ORDER BY Comment_Count DESC;
                    """
        mysql_cursor.execute(sql_query)
        display(pd.DataFrame(mysql_cursor.fetchall(), columns=['Video_Title', 'Comment_Count']))
            
            
    elif user_choice == 5:
        print(menu_options[user_choice])
        sql_query = """
                    SELECT v.title AS Video_Title, v.likes AS Likes, v.channel_name AS Channel_Name
                    FROM video v
                    ORDER BY v.likes DESC
                    LIMIT 10;
                    """
        mysql_cursor.execute(sql_query)
        display(pd.DataFrame(mysql_cursor.fetchall(), columns=['Video_Title', 'Likes', 'Channel_Name']))
            
    elif user_choice == 6:
        print(menu_options[user_choice])
        sql_query = """
                    SELECT v.title AS Video_Title, SUM(v.likes) AS Total_Likes, SUM(v.dislikes) AS Total_Dislikes
                    FROM video v
                    GROUP BY v.title;
                    """
        mysql_cursor.execute(sql_query)
        display(pd.DataFrame(mysql_cursor.fetchall(), columns=['Video_Title', 'Total_Likes', 'Total_Dislikes']))
        
    elif user_choice == 7:
        print(menu_options[user_choice])
        sql_query = """
                    SELECT c.Channel_Name, SUM(v.Views) AS Total_Views
                    FROM channel c
                    INNER JOIN video v ON c.Channel_Id = v.Channel_Id
                    GROUP BY c.Channel_Name;
                    """
        mysql_cursor.execute(sql_query)
        display(pd.DataFrame(mysql_cursor.fetchall(), columns=['Channel_Name', 'Total_Views']))
            
    elif user_choice == 8:
        print(menu_options[user_choice])
        sql_query = """
                    SELECT DISTINCT c.Channel_Name
                    FROM channel c
                    INNER JOIN video v ON c.Channel_Id = v.Channel_Id
                    WHERE YEAR(v.Published_Date) = 2022;
                    """
        mysql_cursor.execute(sql_query)
        display(pd.DataFrame(mysql_cursor.fetchall(), columns=['Channel_Name']))
            
    elif user_choice == 9:
        print(menu_options[user_choice])
        sql_query = """
                    SELECT channel_name, 
                    SUM(duration_sec) / COUNT(*) AS average_duration
                    FROM (
                        SELECT channel_name, 
                        CASE
                             WHEN duration REGEXP '^PT[0-9]+H[0-9]+M[0-9]+S$' 
                             THEN 
                                TIME_TO_SEC(CONCAT(
                                SUBSTRING_INDEX(SUBSTRING_INDEX(duration, 'H', 1), 'T', -1), ':',
                            SUBSTRING_INDEX(SUBSTRING_INDEX(duration, 'M', 1), 'H', -1), ':',
                            SUBSTRING_INDEX(SUBSTRING_INDEX(duration, 'S', 1), 'M', -1)
                            ))
                                WHEN duration REGEXP '^PT[0-9]+M[0-9]+S$' 
                                THEN 
                                TIME_TO_SEC(CONCAT(
                                '0:', SUBSTRING_INDEX(SUBSTRING_INDEX(duration, 'M', 1), 'T', -1), ':',
                                SUBSTRING_INDEX(SUBSTRING_INDEX(duration, 'S', 1), 'M', -1)
                            ))
                                WHEN duration REGEXP '^PT[0-9]+S$' 
                                THEN 
                                TIME_TO_SEC(CONCAT('0:0:', SUBSTRING_INDEX(SUBSTRING_INDEX(duration, 'S', 1), 'T', -1)))
                                END AS duration_sec
                    FROM video
                    ) AS subquery
                    GROUP BY channel_name
                    """
        mysql_cursor.execute(sql_query)
        display(pd.DataFrame(mysql_cursor.fetchall(),columns=mysql_cursor.column_names))
            
    elif user_choice == 10:
        print(menu_options[user_choice])
        sql_query = """
                    SELECT v.Title AS Video_Title, c.Channel_Name, v.Comments AS Number_of_Comments
                    FROM video v
                    INNER JOIN channel c ON v.Channel_id = c.Channel_id
                    ORDER BY v.Comments DESC
                    LIMIT 10
                    """
        mysql_cursor.execute(sql_query)
        display(pd.DataFrame(mysql_cursor.fetchall(), columns=['Video_Title', 'Channel_Name', 'Number_of_Comments']))

In [16]:
if __name__ == '__main__':
    
    create_mysql_tables()
    
    channel_ids=[]
    
    # Create collections and drop existing collections
    client = MongoClient(CONNECTION_STRING)
    db = client.get_database(DATABASE_NAME)
    create_collections(db)
    
    # Collect up to 10 channel IDs
    while len(channel_ids) < 10:
        channel_id = input("Enter a YouTube Channel ID (or 'done' to finish): ")
        if channel_id.lower() == 'done':
            ch_nms=channel_names()
            print(ch_nms)
            break
        else:
            channel_ids.append(channel_id)
            show_data(channel_id)
        s=input("Do you want to store the channel details in mingodb?yes/no:")
        if s.lower() == 'yes':
            store_data_in_mongodb(channel_id)
        else:
            continue
        # Migrate data from MongoDB to MySQL for the specified channel names
    while True:
        channel_name = input("Enter a YouTube Channel Name to migrate data to MySQL from above list (or 'done' to finish): ")
        if channel_name.lower() == 'done':
                break
        else:
            migrate_data_to_mysql(channel_name)
            
    menu_options= {
           1: 'What are the names of all the videos and their corresponding channels?',
        2: 'Which channels have the most number of videos, and how many videos do they have?',
    3:'What are the top 10 most viewed videos and their respective channels?',
    4: 'How many comments were made on each video, and what are their corresponding video names?',
    5: 'Which videos have the highest number of likes, and what are their corresponding channel names?',
    6: 'What is the total number of likes and dislikes for each video, and what are their corresponding video names?',
    7: 'What is the total number of views for each channel, and what are their corresponding channel names?',
    8: 'What are the names of all the channels that have published videos in the year 2022?',
    9 : 'What is the average duration of all videos in each channel, and what are their corresponding channel names?',
    10 : 'Which videos have the highest number of comments, and what are their corresponding channel names?'
        }
    print(menu_options)
    for item in menu_options.items():
        print(item)
    
    while True:
        user_choice=int(input("Choose the corresponding number for query execution or enter '0' to stop query execution:"))
        if user_choice == 0:
            break
        else:
            # Connect to MySQL
            mysql_conn = mysql.connector.connect(
                host=MYSQL_HOST,
                user=MYSQL_USER,
                password=MYSQL_PASSWORD,
                database=MYSQL_DATABASE
                    )
            mysql_cursor = mysql_conn.cursor()
            query_to_execute(user_choice,menu_options)

MySQL Channeltable created successfully!
MySQL Video table created successfully!
MySQL Comment table created successfully!
Enter a YouTube Channel ID (or 'done' to finish): UCCM3iHXr67s7Y7jjOPyt0Tg
[{'Channel_id': 'UCCM3iHXr67s7Y7jjOPyt0Tg', 'Channel_name': 'Python Fluid', 'Playlist_id': 'UUCM3iHXr67s7Y7jjOPyt0Tg', 'Subscription_count': '189', 'Channel_Views': '2076', 'Total_videos': '1', 'Channel_Description': ''}]
Do you want to store the channel details in mingodb?yes/no:yes
Data stored in MongoDB Atlas successfully!
Enter a YouTube Channel ID (or 'done' to finish): UCQsO8TDq_E8WM9Uqj7AKhDA
[{'Channel_id': 'UCQsO8TDq_E8WM9Uqj7AKhDA', 'Channel_name': 'Web automation using Python and Selenium', 'Playlist_id': 'UUQsO8TDq_E8WM9Uqj7AKhDA', 'Subscription_count': '1', 'Channel_Views': '154', 'Total_videos': '1', 'Channel_Description': ''}]
Do you want to store the channel details in mingodb?yes/no:yes
Data stored in MongoDB Atlas successfully!
Enter a YouTube Channel ID (or 'done' to finish): done
['Python Fluid', 'Web automation using Python and Selenium']
Enter a YouTube Channel Name to migrate data to MySQL from above list (or 'done' to finish): Python Fluid
Channel Data migrated to MySQL for Channel Name: Python Fluid
Video Data migrated to MySQL for Channel Name: Python Fluid
Comment Data migrated to MySQL for Channel Name: Python Fluid
Enter a YouTube Channel Name to migrate data to MySQL from above list (or 'done' to finish): Web automation using Python and Selenium
Channel Data migrated to MySQL for Channel Name: Web automation using Python and Selenium
Video Data migrated to MySQL for Channel Name: Web automation using Python and Selenium
Comment Data migrated to MySQL for Channel Name: Web automation using Python and Selenium
Enter a YouTube Channel Name to migrate data to MySQL from above list (or 'done' to finish): done
{1: 'What are the names of all the videos and their corresponding channels?', 2: 'Which channels have the most number of videos, and how many videos do they have?', 3: 'What are the top 10 most viewed videos and their respective channels?', 4: 'How many comments were made on each video, and what are their corresponding video names?', 5: 'Which videos have the highest number of likes, and what are their corresponding channel names?', 6: 'What is the total number of likes and dislikes for each video, and what are their corresponding video names?', 7: 'What is the total number of views for each channel, and what are their corresponding channel names?', 8: 'What are the names of all the channels that have published videos in the year 2022?', 9: 'What is the average duration of all videos in each channel, and what are their corresponding channel names?', 10: 'Which videos have the highest number of comments, and what are their corresponding channel names?'}
(1, 'What are the names of all the videos and their corresponding channels?')
(2, 'Which channels have the most number of videos, and how many videos do they have?')
(3, 'What are the top 10 most viewed videos and their respective channels?')
(4, 'How many comments were made on each video, and what are their corresponding video names?')
(5, 'Which videos have the highest number of likes, and what are their corresponding channel names?')
(6, 'What is the total number of likes and dislikes for each video, and what are their corresponding video names?')
(7, 'What is the total number of views for each channel, and what are their corresponding channel names?')
(8, 'What are the names of all the channels that have published videos in the year 2022?')
(9, 'What is the average duration of all videos in each channel, and what are their corresponding channel names?')
(10, 'Which videos have the highest number of comments, and what are their corresponding channel names?')
Choose the corresponding number for query execution or enter '0' to stop query execution:1
What are the names of all the videos and their corresponding channels?

,Video_Title,Channel_Name
0,Базовый python. Занятие 0. Первая программа.,Python Fluid
1,How to search a job in Indeed with python (Se...,Web automation using Python and Selenium

Choose the corresponding number for query execution or enter '0' to stop query execution:2
Which channels have the most number of videos, and how many videos do they have?

                               Channel_Name  Video_Count
0                              Python Fluid            1
1  Web automation using Python and Selenium            1

Choose the corresponding number for query execution or enter '0' to stop query execution:3
What are the top 10 most viewed videos and their respective channels?

,Video_Title,Views,Channel_Name
0,Базовый python. Занятие 0. Первая программа.,2076,Python Fluid
1,How to search a job in Indeed with python (Se...,154,Web automation using Python and Selenium

Choose the corresponding number for query execution or enter '0' to stop query execution:4
How many comments were made on each video, and what are their corresponding video names?

                                         Video_Title  Comment_Count
0       Базовый python. Занятие 0. Первая программа.             25
1  How to search a job in Indeed with python  (Se...              0

Choose the corresponding number for query execution or enter '0' to stop query execution:5
Which videos have the highest number of likes, and what are their corresponding channel names?

,Video_Title,Likes,Channel_Name
0,Базовый python. Занятие 0. Первая программа.,179,Python Fluid
1,How to search a job in Indeed with python (Se...,2,Web automation using Python and Selenium

Choose the corresponding number for query execution or enter '0' to stop query execution:6
What is the total number of likes and dislikes for each video, and what are their corresponding video names?

,Video_Title,Total_Likes,Total_Dislikes
0,How to search a job in Indeed with python (Se...,2,None
1,Базовый python. Занятие 0. Первая программа.,179,None

Choose the corresponding number for query execution or enter '0' to stop query execution:7
What is the total number of views for each channel, and what are their corresponding channel names?

                               Channel_Name Total_Views
0                              Python Fluid        2076
1  Web automation using Python and Selenium         154

Choose the corresponding number for query execution or enter '0' to stop query execution:8
What are the names of all the channels that have published videos in the year 2022?

Empty DataFrame
Columns: [Channel_Name]
Index: []

Choose the corresponding number for query execution or enter '0' to stop query execution:9
What is the average duration of all videos in each channel, and what are their corresponding channel names?

                               channel_name average_duration
0                              Python Fluid         557.0000
1  Web automation using Python and Selenium         306.0000

Choose the corresponding number for query execution or enter '0' to stop query execution:10
Which videos have the highest number of comments, and what are their corresponding channel names?

,Video_Title,Channel_Name,Number_of_Comments
0,Базовый python. Занятие 0. Первая программа.,Python Fluid,28
1,How to search a job in Indeed with python (Se...,Web automation using Python and Selenium,0

Choose the corresponding number for query execution or enter '0' to stop query execution:0

In [16]:
#Right-click on your browser and click View Page Source. Search (Ctrl-F) for https://www.youtube.com/channel/ in the page source. The channel ID will appear directly after the /channel/ text in the URL path.
#UCCM3iHXr67s7Y7jjOPyt0Tg
#UCQsO8TDq_E8WM9Uqj7AKhDA
#UCWv7vMbMWH4-V0ZXdmDpPBA